<ion-toolbar>  
  <ion-title>
      GitHub
  </ion-title>
</ion-toolbar>

<ion-content>  
  <ion-list inset>
    <ion-item>
      <ion-label position="floating">Nombre de usuario</ion-label>
      <ion-input [(ngModel)]="username"></ion-input>
    </ion-item>
  </ion-list>
      <ion-button (click)="getRepos()" padding>Buscar</ion-button>
  <ion-card *ngFor="let repo of names">
      <ion-card-header>
          {{ repo.name }}
      </ion-card-header>
      <ion-card-content>
          {{ repo.id }}
      </ion-card-content>
  </ion-card>
</ion-content>
